<a href="https://colab.research.google.com/github/jfdac11/DataMiningPI/blob/develop/PreProcessamento_PortalTransparencia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importação das bibliotecas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from google.colab import drive

In [2]:
#Concedendo acesso ao drive do projeto
drive.mount('/content/drive')
path = '/content/drive/Shareddrives/PI_2_2021'

Mounted at /content/drive

#Importação do dataset bruto

In [3]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)

In [4]:
data = pd.read_csv(path + '/Mortalidade_Geral_2019.csv', header=0, sep=';', low_memory=False, encoding='latin1')
data.shape

(1349801, 87)

In [5]:
data.head()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CAUSABAS,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,TPPOS,DTINVESTIG,CAUSABAS_O,DTCADASTRO,ATESTANTE,STCODIFICA,CODIFICADO,VERSAOSIST,VERSAOSCB,FONTEINV,DTRECEBIM,ATESTADO,DTRECORIGA,CAUSAMAT,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,21012019,540.0,829.0,290750.0,18021961.0,457,1,2.0,1.0,2.0,1.0,NaN,512105.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,*R570,*J81X,*I10X,*N189,NaN,I120,NaN,NaN,21012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,I120,12022019.0,2.0,S,S,3.2.00,3.2,NaN,13022019.0,R570/J81/I10/N189,13022019,NaN,NaN,10.0,0.0,1,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,2,28012019,1630.0,829.0,290070.0,3071938.0,480,2,NaN,1.0,1.0,0.0,NaN,999992.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*A419,NaN,NaN,NaN,NaN,A419,NaN,NaN,28012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,A419,12022019.0,NaN,S,S,3.2.00,3.2,NaN,13022019.0,A419,13022019,NaN,NaN,0.0,0.0,1,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,1,2,27012019,2320.0,829.0,290750.0,15111945.0,473,2,4.0,2.0,3.0,1.0,4.0,999992.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*I500,*I10X,*E039,NaN,NaN,E039,NaN,NaN,27012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,E039,12022019.0,5.0,S,S,3.2.00,3.2,NaN,13022019.0,I500/I10/E039,13022019,NaN,NaN,2.0,0.0,1,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
3,1,2,12012019,2300.0,829.0,290750.0,4111971.0,447,1,4.0,2.0,4.0,3.0,3.0,NaN,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*J960,*R220,NaN,NaN,NaN,R220,NaN,NaN,12012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,R220,12022019.0,5.0,S,S,3.2.00,3.2,NaN,13022019.0,J960/R220,13022019,NaN,NaN,6.0,0.0,1,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,1,2,10012019,1726.0,829.0,292520.0,12101946.0,472,2,4.0,1.0,1.0,0.0,NaN,999992.0,290750,1,2388685.0,NaN,290750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*J960,*C159,NaN,NaN,NaN,C159,NaN,NaN,10012019.0,NaN,NaN,NaN,20190009.0,NaN,NaN,C159,12022019.0,5.0,S,S,3.2.00,3.2,NaN,13022019.0,J960/C159,13022019,NaN,NaN,0.0,0.0,1,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6

In [6]:
#Análise estatistica
data.describe()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,DTINVESTIG,DTCADASTRO,ATESTANTE,VERSAOSCB,FONTEINV,DTRECEBIM,DTRECORIGA,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
count,1349801.0,1349801.0,1.349801e+06,1.292455e+06,1.276115e+06,1.257268e+06,1.346010e+06,1.349801e+06,1.349801e+06,1.315348e+06,1.274934e+06,1.245231e+06,1.239685e+06,314749.000000,1.136322e+06,1.349801e+06,1.349801e+06,9.910680e+05,0.0,1.349801e+06,31953.000000,31602.000000,31489.000000,13062.000000,28431.000000,31657.000000,30475.000000,32839.000000,30967.000000,31063.000000,32679.000000,32383.000000,31513.000000,82927.000000,83158.000000,83153.000000,936420.000000,1474.000000,1419.000000,958239.000000,0.0,247915.000000,1.340595e+06,142523.000000,44381.000000,113222.000000,1.349654e+06,1.932120e+05,1.346383e+06,1.232218e+06,1.292871e+06,196450.000000,1.349655e+06,1.349801e+06,31489.000000,1.239685e+06,1.349800e+06,1.349801e+06,1.349801e+06,56370.000000,0.0,5.675400e+04,56754.000000,5.630900e+04,3121.000000,0.0,3.073800e+04,30738.000000,2.827700e+04,0.0,29564.000000,1.349801e+06
mean,1.0,2.0,1.576465e+07,1.201993e+03,8.240895e+02,3.185882e+05,1.541920e+07,4.614467e+02,1.446857e+00,2.268808e+00,2.518766e+00,3.425116e+00,2.438516e+00,4.282295,7.891702e+05,3.285817e+05,1.701686e+00,3.168471e+06,NaN,3.287556e+05,26.967327,4.108474,3.180793,4.213367,770439.948683,2.353508,1.670484,1.198088,32.157264,3.537456,1.620888,3.127165,1824.773173,8.007983,3.033935,3.863613,1.777673,3.357531,3.337562,2.046925,NaN,328257.863175,1.578745e+07,3.071153,3.996845,2.248547,2.019207e+07,1.563500e+07,1.580430e+07,2.752175e+00,3.201705e+00,4.237241,1.639308e+07,1.610660e+07,7.533393,6.454165e+00,5.260039e-05,9.996659e-01,8.433725e+01,75.030672,NaN,1.567624e+07,8.768721,1.555729e+07,1.388017,NaN,1.573109e+07,3.253237,1.571053e+07,NaN,1.794108,6.897412e+05
std,0.0,0.0,8.797102e+06,6.735310e+02,7.326165e+01,8.201089e+04,8.710725e+06,5.305835e+01,4.979973e-01,1.426603e+00,1.696744e+00,2.350804e+00,2.722454e+00,1.853017,2.626907e+05,8.730200e+04,1.117293e+00,2.118075e+06,NaN,8.725233e+04,7.763651,1.582556,1.918315,2.296863,287022.611488,8.773911,11.294327,0.905156,11.709571,1.511489,1.040171,0.864702,1105.306440,0.940470,2.500979,2.164206,2.149148,2.993836,2.766323,1.403565,NaN,89364.752913,8.796147e+06,2.771381,3.258841,2.355443,4.026800e+03,8.705682e+06,8.698022e+06,1.571705e+00,3.776179e-02,2.174500,8.730156e+06,8.703732e+06,3.443307,4.411604e+00,7.252424e-03,1.827599e-02,1.289748e+02,75.477145,NaN,8.668557e+06,1.014304,8.902024e+06,0.649732,NaN,8.662999e+06,1.252499,8.648240e+06,NaN,0.404359,3.980078e+05
min,1.0,2.0,1.012019e+06,0.000000e+00,4.000000e+00,1.100000e+05,1.011900e+06,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,1.010500e+04,1.100000e+05,1.000000e+00,1.800000e+01,NaN,1.100010e+05,9.000000,1.000000,0.000000,1.000000,10305.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,2.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,110002.000000,1.012019e+06,1.000000,1.000000,1.000000,2.018000e+07,1.012019e+06,1.012002e+06,1.000000e+00,2.200000e+00,1.000000,1.012020e+06,1.012020e+06,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,1.022019e+06,1.000000,1.012019e+06,1.000000,NaN,1.022019e+06,1.000000,1.012020e+06,NaN,1.000000,1.000000e+00
25%,1.0,2.0,8.082019e+06,6.300000e+02,8.260000e+02,2.611600e+05,8.061928e+06,4.550000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,3.000000,6.210050e+05,2.802100e+05,1.000000e+00,2.109867e+06,NaN,2.800300e+05,21.000000,3.000000,2.000000,3.000000,516115.000000,1.000000,0.000000,1.000000,26.000000,2.000000,1.000000,3.000000,800.000000,8.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,NaN,261160.000000,8.082019e+06,1.000000,2.000000,1.000000,2.019002e+07,8.082019e+06,8.102019e+06,1.000000e+00,3.200000e+00,3.000000,9.122019e+06,9.082019e+06,5.000000,2.000000e+00,0.000000e+00,1.000000e+00,1.700000e+01,27.000000,NaN,8.072019e+06,9.000000,8.052019e+06,1.000000,NaN,8.102019e+06,3.000000,8.102019e+06,NaN,2.000000,3.451350e+05
50%,1.0,2.0,1.602202e+07,1.205000e+03,8.310000e+02,3.150900e+05,1.508194e+07,4.700000e+02,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,4.000000,9.999920e+05,3.304550e+05,1.000000e+00,2.436469e+06,NaN,3.304550e+05,26.000000,4.000000,3.000000,3.000000,999991.000000,1.000000,0.000000,1.000000,32.000000,4.000000,2.000000,3.000000,1620.000000,8.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,NaN,330455.000000,1.603202e+07,2.000000,2.000000,1.000000,2.019003e+07,1.512202e+07,1.510202e+07,2.000000e+00,3.200000e+00,3.000000,1.608202e+07,1.505202e+07,8.000000,9.000000e+00,0.000000e+00,1.000000e+00,3.200000e+01,55.000000,NaN,1.601202e+07,9.000000,1.510202e+07,1.000000,NaN,1.604202e+07,3.000000,1.601202e+07,NaN,2.000000,6.898670e+05
75%,1.0,2.0,2.310202e+07,1.800000e+03,8.350000e+02,3.549700e+05,2.304195e+07,4.820000e+02,2.000000e+00,4.000000e+00,3.000000e+00,4.000000e+00,3.000000e+00,4.000000,9.999930e+05,3.550300e+05,3.000000e+00,3.019063e+06,NaN,3.550300e+05,32.000000,4.000000,3.000000,6.000000,999992.000000,2.000000,1.000000,1.000000,38.000000,5.000000,2.000000,3.000000,2800.000000,8.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,NaN,355030.000000,2.310202e+07,3.000000,9.000000,3.000000,2.019009e+07,2.307202e+07,2.311202e+07,5.000000e+00,3.200000e+00,6.000000,2.407202e+07,2.404202e+07,11.000000,1.000000e+01,0.000000e+00,1.000000e+00,6.800000e+01,99.000000,NaN,2.309202e+07,9.000000,2.308202e+07,2.000000,NaN,2.308202e+07,3.000000,2.307202e+07,NaN,2.000000,1.034399e+06
max,1.0,2.0,3.112202e+07,1.700000e+04,9.990000e+02,5.300100e+05,3.112202e+07,9.990000e+02,2.000000e+00,5.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,8.000000,9.999950e+05,5.300100e+05,9.000000e+00,9.997377e+06,NaN,5.300100e+05,99.000000,9.000000,9.000000,8.000000,999994.000000,99.000000,99.000000,9.000000,99.000000,9.000000,9.000000,9.000000,7000.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,539919.000000,3.112202e+07,9.000000,9.000000,9.000000,2.020053e+07,3.112202e+07,3.112202e+07,5.000000e+00,3.300000e+00,9.000000,3.112202e+07,3.112202e+07,12.000000,1.200000e+01,1.000000e+00,1.000000e+00,6.960000e+02,680.000000,NaN,3.112202e+07,9.000000,3.112202e+07,3.000000,NaN,3.112202e+07,9.000000,3.112202e+07,NaN,2.000000,1.378906e+06

In [7]:
data.columns

Index(['ORIGEM', 'TIPOBITO', 'DTOBITO', 'HORAOBITO', 'NATURAL', 'CODMUNNATU',
       'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'ESTCIV', 'ESC', 'ESC2010',
       'SERIESCFAL', 'OCUP', 'CODMUNRES', 'LOCOCOR', 'CODESTAB', 'ESTABDESCR',
       'CODMUNOCOR', 'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE',
       'OCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC',
       'GESTACAO', 'PARTO', 'OBITOPARTO', 'PESO', 'TPMORTEOCO', 'OBITOGRAV',
       'OBITOPUERP', 'ASSISTMED', 'EXAME', 'CIRURGIA', 'NECROPSIA', 'LINHAA',
       'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS', 'CB_PRE',
       'COMUNSVOIM', 'DTATESTADO', 'CIRCOBITO', 'ACIDTRAB', 'FONTE',
       'NUMEROLOTE', 'TPPOS', 'DTINVESTIG', 'CAUSABAS_O', 'DTCADASTRO',
       'ATESTANTE', 'STCODIFICA', 'CODIFICADO', 'VERSAOSIST', 'VERSAOSCB',
       'FONTEINV', 'DTRECEBIM', 'ATESTADO', 'DTRECORIGA', 'CAUSAMAT',
       'ESCMAEAGR1', 'ESCFALAGR1', 'STDOEPIDEM', 'STDONOVA', 'DIFDATA',
       'NUDIASOBCO', 'NUDIASOBIN', 'DTCADINV', 'TPOBITOCOR', 'DTCONINV',
       'FONTES', 'TPRESGINFO', 'TPNIVELINV', 'NUDIASINF', 'DTCADINF',
       'MORTEPARTO', 'DTCONCASO', 'FONTESINF', 'ALTCAUSA', 'CONTADOR'],
      dtype='object')

# Pré-processamento dos dados

Algumas colunas precisaram ser deletadas, são elas:

```markdown
* contador: pois já há o index das linhas do dataframe 
* CODINST: Código da instalação da geração dos registros
* NUMERODV: número do dígito verificador (??)
* HORAOBITO: hora de óbito 
* NUMSUS: número da carteira do sus
* CODESTAB: código do estabelecimento
* NUMERODN: número da declaração de nascimento
* CRM: código de registro de médico, não precisaremos predizer
* data do atestado de óbito
* número do lote
* data do cadastro: Indica se o mé
dico que assina atendeu o paciente
* Status de instalação: se codificadora
se está codificado ou não
* IDADEMAE: 
* ESCMAE 
* ESCMAE2010
* OCUPMAE
* PESO
* ORIGEM
* CB_PRE 
* SERIESCMAE
* GRAVIDEZ
* GESTACAO
* SEMAGESTAC
* PARTO
* OBITOPARTO
* OBITOGRAV
* OBITOPUERP
* ESCMAEAGR1
* ESCFALAGR1
* FONTES
* QTDFILVIVO
* QTDFILMORT
* VERSAOSIST
* VERSAOSCB
* CODMUNRES
* NUDIASOBCO
* DTCADINV
* DTCONINV
* TPPOS
* TPRESGINFO
* TPMORTEOCO
* NECROPSIA
* COMUNSVOIM
* DTINVESTIG
* DTRECEBIM
* CAUSAMAT
* MORTEPARTO
* ALTCAUSA
* DTCONCASO
* CIRURGIA
* ACIDTRAB
* FONTEINV
* TIPOBITO
* ESTCIV
* ESC
* SERIESCFAL
* CODMUNNATU
* TPOBITOCOR
* TPNIVELINV
* NATURAL
* EXAME
* FONTES
* DTCADINF
* NUDIASOBCO
* STDONOVA
* STDOEPIDEM
* DTRECORIGA
* DIFDATA
* ATESTADO
* LINHAA
* LINHAB
* LINHAC
* LINHAD
* LINHAII
* CAUSABAS_O
* FONTE
* TP_ALTERA
* CB_ALT
* OPOR_DO
* CIRCOBITO
* 'FONTESINF
* ESTABDESCR
* NUDIASOBIN
* NUDIASINF

```

In [8]:
limit = data.shape[0]
df = data[:limit]
# deletando colunas:

#Funções para tradução dos dados

####Idades:

##### ⏰
* Para 2 dígitos: menos de 1 ano de vida


* Para 3 dígitos com menor do que 400: menos de 1 ano de vida


* Para 3 dígitos maiores do que 400: 
  * 2 últimos significam o número de anos
  * o 1 primeiro significa  número de centenário a partir de 400

In [9]:
def ajeitando_idades(df):
    idades = pd.DataFrame(df['IDADE']).astype('int')
#     print(idades.head())
    idades['ANOS_IDADE'] = pd.Series()
    
    idades.loc[idades['IDADE'] < 400, ['ANOS_IDADE']] = 0
    
    idades.loc[idades['IDADE'] > 400, ['ANOS_IDADE']] = (idades['IDADE'] - 400)
    
    return idades['ANOS_IDADE']

In [10]:
def faixa_etaria(df):
    faixas_etarias = np.arange(0, df.IDADE.max()+1, 5, dtype='int')
    df['FAIXA_ETARIA'] = pd.cut(df['IDADE'], faixas_etarias)

In [11]:
def add_zero(row, name):
    if len(row[name]) < 8:
        row[name] = '0' + row[name]

#### Corrigindo as datas, pois algumas não possuem 8 carácteres

In [12]:
def clean_date(df, name_column):
    dt_nasc = pd.DataFrame(df[name_column])
    
    dt_nasc[name_column] = dt_nasc[name_column].fillna(0)
    dt_nasc[name_column] = dt_nasc[name_column].astype('int')
    dt_nasc[name_column] = dt_nasc[name_column].astype('str')
    

    dt_nasc.apply(add_zero, name=name_column, axis='columns')
    dt_nasc[name_column] = dt_nasc[name_column].str.slice(0, 8)
    
    
    dt_nasc['ANO'] = dt_nasc[name_column].str[4:]

    dt_nasc['MES'] = dt_nasc[name_column].str.slice(2, 4)

    dt_nasc['DIA'] = dt_nasc[name_column].str.slice(0, 2)
    

    return dt_nasc

#### Pegando o parte do código do município equivalente ao estado para atribuir sua respectiva sigla (UF)

In [13]:
def codigos(row):
    if len(row['CODMUNOCOR']) < 7:
#         print('0' + row.DTOBITO[0])
        row['COD'] = row.CODMUNOCOR[:2]

##### Atribuindo siglas das UFs de acordo com seus códigos segundo o CSV dos estados do IBGE

In [14]:
def clean_states(df):
    data_estados = pd.read_csv(path + '/CSVs BASE/estados_ibge.csv', sep=';', header=0, encoding='latin1')

    cod = pd.Series(data_estados['CODIGO'].astype('str'))
    cod = cod.values

    uf = pd.Series(data_estados['UF'].astype('str'))
    uf = uf.values

    cod_mun = pd.DataFrame(df.CODMUNOCOR.astype('str'))

    cod_mun['CODMUNOCOR'] = cod_mun.CODMUNOCOR.astype('str')
    cod_mun['CODMUNOCOR'].str.slice(0,2)
    cod_mun['COD'] = ""
    cod_mun.apply(codigos, axis='columns')
    cod_mun['ESTADO'] = cod_mun['COD'].replace(cod, uf)

    return cod_mun['ESTADO'], cod_mun['COD']

####Retirando * das tuplas em que a causa básica contém antes do valor CID

In [15]:
def limpeza(row, col_cids):
    for c in col_cids:
        if row[c].find('*') != -1:
            row[c] = row[c][1:]

#####Agrupando causa básica de acordo com a tabela CAPÍTULOS do CID-10

In [16]:
def capitulo_cid(row, cids):
    cids.loc[( ( (cids.CAUSABAS.str[0] == row.CATINIC[0]) | (cids.CAUSABAS.str[0] == row.LETRA_FIM) )
              &
               ((cids.CAUSABAS.str[1:3] >= row.CATINIC[1:]) & (cids.CAUSABAS.str[1:3] <= row.CATFIM[1:]))
             ),
             ['CAPITULO_CAUSA_BASICA', 'COD_CAPITULO_CAUSA_BASICA']] = [row.DESCRABREV, row.NUMCAP]

#### Agrupando causa básica de acordo com a tabela de GRUPOS do CID-10

In [17]:
#grupo CID
def agrupamento_cid(row, cids):
    valores = pd.DataFrame()
    valores['CAUSABAS'] = cids.CAUSABAS.str[1:3].astype('int')
    inicio = int(row.CATINIC[1:])
    fim = int(row.CATFIM[1:])
    
    cids.loc[( ( (cids.CAUSABAS.str[0] == row.CATINIC[0]) | (cids.CAUSABAS.str[0] == row.LETRA_FIM) )
              &
               ((cids.CAUSABAS.str[1:3] >= row.CATINIC[1:]) & (cids.CAUSABAS.str[1:3] <= row.CATFIM[1:]))
             )
            , ['COD_GRUPO_CAUSA_BASICA', 'GRUPO_CAUSA_BASICA']] = [row.CATINIC + '-' + row.CATFIM, row.DESCRICAO]

#### Atribuindo categoria e subcategorias do CID-10 que a CAUSA BÁSICA equivale

In [18]:
#CATEGORIA CID
#(cids.CAUSABAS.str.len() == 3) &
def categoria_cid(row, cids):
    cids.loc[((cids.CAUSABAS.str[:3] == row.CAT)),
             ['COD_CAUSA_BASICA', 'CAUSA_BASICA']] = [row.CAT, row.DESCRICAO]

In [19]:
#SUBCATEGORIA CID 
def sub_categoria_cid(row, cids):
    cids.loc[((cids.CAUSABAS.str.len() == 4) & (cids.CAUSABAS == row.SUBCAT)),
            ['CAUSA_BASICA']] = row.DESCRABREV[6:]

#### Função para tratar os valores da coluna CAUSABAS: 
  vai classificar o grupo CID-10, categoria e subcategoria CID-10 e o capítulo CID-10

In [20]:
def nomeando_cids(df):
    df_cid_grupos = pd.read_csv(path + '/CSVs BASE/CID-10-GRUPOS.CSV', header=0, sep=';', encoding='latin1')
    df_cid_grupos.head()

    # df_cid_grupos = df_cid_grupos.drop(columns=['Unnamed: 0'])


    df_cid_cate = pd.read_csv(path + '/CSVs BASE/CID-10-CATEGORIAS.CSV', header=0, sep=';', encoding='latin1')

    df_cid_sub = pd.read_csv(path + '/CSVs BASE/CID-10-SUBCATEGORIAS.CSV', header=0, sep=';', encoding='latin1')
    
    df_cid_cap = pd.read_csv(path + '/CSVs BASE/CID-10-CAPITULOS.CSV', header=0, sep=';', encoding='latin1')

    df_cid_cap['LETRA_INICIO'] = ""
    df_cid_cap['NUM_INICIO'] = ""
    df_cid_cap['LETRA_FIM'] = ""
    df_cid_cap['NUM_FIM'] = ""
    
    df_cid_grupos['LETRA_INICIO'] = ""
    df_cid_grupos['NUM_INICIO'] = ""
    df_cid_grupos['LETRA_FIM'] = ""
    df_cid_grupos['NUM_FIM'] = ""
    
    col_cids = ['CAUSABAS']

    cids = pd.DataFrame(df[col_cids].astype('str'))

#### RETIRANDO O '*' INÍCIO
    cids.apply(limpeza, col_cids=col_cids, axis='columns')

    cids['GRUPO_CAUSA_BASICA'] = ""
    cids['COD_GRUPO_CAUSA_BASICA'] = ""
    cids['COD_CAUSA_BASICA'] = ""
    cids['CAUSA_BASICA'] = ""
    cids['CAPITULO_CAUSA_BASICA'] = ""
    cids['COD_CAPITULO_CAUSA_BASICA'] = ""
    
    # df_cid_cap.apply(capitulo_cid, cids=cids, axis='columns')

    df_cid_grupos.apply(agrupamento_cid, cids=cids, axis='columns')

    df_cid_cate.apply(categoria_cid, cids=cids, axis='columns')
    df_cid_sub.apply(sub_categoria_cid, cids=cids, axis='columns')
    
    return cids

#### Tratando a ocupação da pessoa
Criação de duas novas colunas: uma com o código do grupo pertencente e outra com a descrição deste

#####Atribuindo descrição do grupo de ocupação de acordo com o código

In [21]:
def cod_ocup(row, ocupacoes):
    ocupacoes.loc[(ocupacoes.OCUP.str[:6] == row.CODIGO), ['OCUPACAO']] = row.TITULO

Atribuindo código do grupo de ocupação de acordo com o código

In [22]:
def cod_group_ocup(row, ocupacoes):
    ocupacoes.loc[(ocupacoes.OCUP.str[0] == row.CODIGO), 
                  ['GRUPO_OCUPACAO', 'CODIGO_GRUPO_OCUPACAO']] = [row.TITULO, row.CODIGO]

#### Realizando tratamento das ocupações de acordo com o CSV da Classificação Brasileira de Ocupações

In [23]:
def ocupacoes(df):
#     df_ocupacoes = pd.read_csv('../../Downloads/CBO2002_Ocupacao.csv', header=0, sep=';', encoding='latin1')
    df_grupo = pd.read_csv(path + '/CSVs BASE/CBO2002_Grande_Grupo.csv', header=0, sep=';', encoding='latin1')
    
#     df_ocupacoes['CODIGO'] = df_ocupacoes['CODIGO'].astype('str')
    df_grupo['CODIGO'] = df_grupo['CODIGO'].astype('str')
    
    ocupacoes = pd.DataFrame(df['OCUP'].astype('str'))
#     ocupacoes['OCUPACAO'] = "" 
    ocupacoes['GRUPO_OCUPACAO'] = ""
    ocupacoes['CODIGO_GRUPO_OCUPACAO'] = ""
    
#     df_ocupacoes.apply(cod_ocup, ocupacoes=ocupacoes, axis='columns')
    df_grupo.apply(cod_group_ocup, ocupacoes=ocupacoes, axis='columns')
    ocupacoes['GRUPO_OCUPACAO'] = ocupacoes['GRUPO_OCUPACAO'].fillna('SEM OCUPAÇÃO') 
    
    return ocupacoes['GRUPO_OCUPACAO'], ocupacoes['CODIGO_GRUPO_OCUPACAO']

#### Criação do CSV com apenas dados em que a causa básica foi "coronavirus" e retirada dessas tuplas do pré-processamento

In [24]:
def retirando_covid(df):
    
    df_covid = df.loc[df['CAUSA_BASICA'].str.contains('coronavirus') == True]
    # df_covid = df_covid.drop(columns=['CAUSA_BASICA'])
    df_covid.columns = df_covid.columns.str.lower()
    df_covid = df_covid.rename(columns={'assistmed': 'teve_assistencia_medica', 'racacor': 'raca_cor', 'lococor': 'local_ocorrencia',
                   'esc2010': 'escolaridade'})
    
    df_covid.to_csv(path + '/Datasets Pre-processados/mortes_por_covid_2019.csv', header=True, sep=';', encoding='latin1', index=False)
    
    df_sem_covid = df.loc[df['CAUSA_BASICA'].str.contains('coronavirus') == False]
    
    return df_sem_covid

#### Função principal de limpeza do DATASET
Nela que haverão as chamadas das funções anteriores

In [25]:
def clean_dataset(df):
  
    # retirando as circunstância de óbito que não envolvem doença como causa
    df = df.loc[(df['CIRCOBITO'].isnull()) | (df['CIRCOBITO'] == 9)] 
    
#### DROP COLUMNS
    df = df.drop(columns=['CONTADOR', 'DTOBITO', 'DTNASC', 'HORAOBITO', 'CODESTAB', 'DTATESTADO', 'NUMEROLOTE', 'DTCADASTRO', 'ATESTANTE', 
                          'STCODIFICA', 'CODIFICADO', 'DTOBITO', 'DTNASC']
                )

#### CATEGORIZANDO OS SEXOS

    df['SEXO'] = df['SEXO'].replace([0, 1, 2] , ["I", "M", "F"])

#### CATEGORIZANDO RAÇAS/COR

    df['RACACOR'] = df['RACACOR'].replace([1, 2, 3, 4, 5], 
                                          ['BRANCA', 'PRETA', 'AMARELA', 'PARDA', 'INDIGENA']
                                          )

#### DATA DE NASCIMENTO

#     dt_nasc = clean_date(df, 'DTNASC')


#     df['DIA_NASC'] = dt_nasc['DIA']
#     df['MES_NASC'] = dt_nasc['MES']
#     df['ANO_NASC'] = dt_nasc['ANO']
    
#     df['DIA_NASC'] = df['DIA_NASC'].astype('int')
#     df['MES_NASC'] = df['MES_NASC'].astype('int')
#     df['ANO_NASC'] = df['ANO_NASC'].astype('int')

#### DATA DE ÓBITO

#     dt_obito = clean_date(df, 'DTOBITO')

#     df['DIA_OBITO'] = dt_obito['DIA'].astype('int')
#     df['MES_OBITO'] = dt_obito['MES'].astype('int')
#     df['ANO_OBITO'] = dt_obito['ANO'].astype('int')


    df = df.drop(columns=['IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'OCUPMAE', 'PESO', 'ORIGEM', 'CB_PRE', 
                          'SERIESCMAE', 'GRAVIDEZ', 'GESTACAO', 'SEMAGESTAC', 'PARTO', 'OBITOPARTO', 'OBITOGRAV', 'OBITOPUERP',
                          'ESCMAEAGR1', 'ESCFALAGR1', 'FONTES', 'QTDFILVIVO', 'QTDFILMORT', 'VERSAOSIST', 'VERSAOSCB', 
                          'CODMUNRES', 'NUDIASOBCO', 'DTCADINV', 'DTCONINV', 'TPPOS', 'TPRESGINFO', 'TPMORTEOCO', 'NECROPSIA',
                          'COMUNSVOIM', 'DTINVESTIG', 'DTRECEBIM', 'CAUSAMAT', 'MORTEPARTO', 'ALTCAUSA',
                          'DTCONCASO', 'CIRURGIA', 'ACIDTRAB', 'FONTEINV', 'TIPOBITO', 'ESTCIV', 'ESC', 'SERIESCFAL', 
                          'CODMUNNATU', 'TPOBITOCOR', 'TPNIVELINV', 'NATURAL', 'EXAME', 'FONTES', 'DTCADINF', 'NUDIASOBCO', 
                          'STDONOVA', 'STDOEPIDEM', 'DTRECORIGA', 'DIFDATA','ATESTADO',
                          'LINHAA', 'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS_O', 'FONTE',
                          # 'TP_ALTERA', 'CB_ALT', 'OPOR_DO', 
                          'CIRCOBITO',
                          'FONTESINF', 'ESTABDESCR', 'NUDIASOBIN', 'NUDIASINF',
                         ]
                )
    
#### AJEITANDO IDADES
    df['IDADE'] = df['IDADE'].fillna(0)

    df['IDADE'] = ajeitando_idades(df)
    
    faixa_etaria(df)
    
    df['IDADE'] = df['IDADE'].astype('int')


#### CATEGORIZANDO OS DADOS

    df['ASSISTMED'] = df['ASSISTMED'].replace([1, 2, 9], 
                                              ['SIM', 'NAO', 'I']
                                             )

    df['LOCOCOR'] = df['LOCOCOR'].replace([1, 2, 3, 4, 5, 9], 
                                          ['HOSPITAL', 'OES', 'DOMICILIO', 'VIAP', 'OUTROS', 'I']
                                         )
    # OES: outros estabelecimentos de saúde
    # I: ignorado
    # VIAP: via pública

    df['ESC2010'] = df['ESC2010'].replace([0, 1, 2, 3, 4, 5, 9], 
                                          ['SEM', 'EF_I', 'EF_II', 'EM', 'SUPERIOR_I', 'SUPERIOR_C', 'I']
                                         )
    # SEM: SEM ESCOLARIDADE
    # EF_I: ensino fundamental I
    # EF_II: ensino fundamental II
    # EM: ensino médio
    # SUPERIOR_I: superior incompleto
    # SUPERIOR_C: superior completo
    # I: ignorado

#### AJEITANDO OS ESTADOS
    df['ESTADO'], df['CODIGO_ESTADO'] = clean_states(df)

#### AJEITANDO CIDs

    cids = nomeando_cids(df)

    df['GRUPO_CAUSA_BASICA'] = cids['GRUPO_CAUSA_BASICA']
    df['COD_GRUPO_CAUSA_BASICA'] = cids['COD_GRUPO_CAUSA_BASICA']
    df['COD_CAUSA_BASICA'] = cids['COD_CAUSA_BASICA']
    df['CAUSA_BASICA'] = cids['CAUSA_BASICA']
    df['CAPITULO_CAUSA_BASICA'] = cids['CAPITULO_CAUSA_BASICA']
    df['COD_CAPITULO_CAUSA_BASICA'] = cids['COD_CAPITULO_CAUSA_BASICA']

    df = df.drop(columns=['CAUSABAS'])
    
#### OCUPACAO DO ÓBITO

    df['OCUP'] = df['OCUP'].astype('str')
    df['GRUPO_OCUPACAO'], df['CODIGO_GRUPO_OCUPACAO']  = ocupacoes(df)
   
    df = df.drop(columns=['OCUP', 'CODMUNOCOR'])
  
    df = retirando_covid(df)
    
    return df

####chamando funções

In [ ]:
  df = clean_dataset(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.dtypes

In [ ]:
df = df.rename(columns={'assistmed': 'teve_assistencia_medica', 'racacor': 'raca_cor', 'lococor': 'local_ocorrencia',
                   'esc2010': 'escolaridade'})

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
# df[df['causa_basica'].str.contains('coronavirus') == True]

#####SALVANDO DATASET APÓS PRÉPROCESSAMENTO

In [ ]:
df.to_csv(path + '/Datasets Pre-processados/dobrano_2019_pre_preprocessado.csv', header=True, sep=';', encoding='latin1', index=False)

In [ ]:
df.shape