In [219]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [220]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)

In [221]:
data = pd.read_csv('../../Downloads/Mortalidade_Geral_2018.csv', header=0, sep=';', low_memory=False, encoding='latin1')
data.shape

(1316719, 87)

In [222]:
data.head()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,LINHAA,LINHAB,LINHAC,LINHAD,LINHAII,CAUSABAS,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,TPPOS,DTINVESTIG,CAUSABAS_O,DTCADASTRO,ATESTANTE,STCODIFICA,CODIFICADO,VERSAOSIST,VERSAOSCB,FONTEINV,DTRECEBIM,ATESTADO,DTRECORIGA,CAUSAMAT,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,FONTES,TPRESGINFO,TPNIVELINV,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
0,1,2,25042018,315.0,16.0,NaN,3111965.0,452,1,1.0,2.0,5.0,5.0,NaN,214120.0,120000,2,2281147.0,NaN,330010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,2.0,*R99X,NaN,NaN,NaN,NaN,R99,NaN,NaN,25042018.0,NaN,NaN,NaN,20190070.0,N,NaN,R99,25052018.0,5.0,S,S,3.2.02,3.2,NaN,27062019.0,R99,29052018,NaN,NaN,8.0,0.0,1,428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
1,1,2,24052018,NaN,812.0,120032.0,20052018.0,204,2,5.0,NaN,NaN,NaN,NaN,NaN,120032,5,NaN,NaN,120032,16.0,3.0,2.0,6.0,999994.0,NaN,NaN,1.0,NaN,NaN,1.0,3.0,3500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*P291,*P285,*P239,*P002,NaN,P002,NaN,NaN,24082018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21052019.0,NaN,N,N,2...0,NaN,NaN,NaN,P291/P285/P239/P002,21052019,NaN,3.0,NaN,0.0,1,362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2120
2,1,2,14022018,1400.0,812.0,120030.0,2061925.0,492,1,5.0,NaN,1.0,0.0,NaN,NaN,120030,3,NaN,NaN,120030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,2.0,*I219,*I517,NaN,NaN,NaN,I219,NaN,NaN,16022018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22022018.0,2.0,N,N,2...0,NaN,NaN,NaN,I219/I517,22022018,NaN,NaN,0.0,0.0,1,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2121
3,1,2,31072018,1600.0,812.0,120030.0,25081928.0,489,2,5.0,NaN,1.0,0.0,NaN,NaN,120030,3,NaN,NaN,120030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,2.0,*J960,*J159,NaN,NaN,*I500,J159,NaN,NaN,1082018.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9042019.0,1.0,N,N,2...0,NaN,NaN,NaN,J960/J159*I500,9042019,NaN,NaN,0.0,0.0,1,252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2122
4,1,2,21092018,1718.0,812.0,120010.0,4071941.0,477,1,4.0,5.0,3.0,1.0,4.0,999993.0,120005,3,NaN,NaN,120005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*C711,NaN,NaN,NaN,NaN,C711,NaN,NaN,21092018.0,NaN,NaN,NaN,20180010.0,NaN,NaN,C711,26092018.0,5.0,S,S,3.2.00,3.2,NaN,28092018.0,C711,28092018,NaN,NaN,2.0,0.0,1,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2691

In [223]:
data.describe()
# data.head()

,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,ESC2010,SERIESCFAL,OCUP,CODMUNRES,LOCOCOR,CODESTAB,ESTABDESCR,CODMUNOCOR,IDADEMAE,ESCMAE,ESCMAE2010,SERIESCMAE,OCUPMAE,QTDFILVIVO,QTDFILMORT,GRAVIDEZ,SEMAGESTAC,GESTACAO,PARTO,OBITOPARTO,PESO,TPMORTEOCO,OBITOGRAV,OBITOPUERP,ASSISTMED,EXAME,CIRURGIA,NECROPSIA,CB_PRE,COMUNSVOIM,DTATESTADO,CIRCOBITO,ACIDTRAB,FONTE,NUMEROLOTE,DTINVESTIG,DTCADASTRO,ATESTANTE,VERSAOSCB,FONTEINV,DTRECEBIM,DTRECORIGA,ESCMAEAGR1,ESCFALAGR1,STDOEPIDEM,STDONOVA,DIFDATA,NUDIASOBCO,NUDIASOBIN,DTCADINV,TPOBITOCOR,DTCONINV,TPRESGINFO,NUDIASINF,DTCADINF,MORTEPARTO,DTCONCASO,FONTESINF,ALTCAUSA,CONTADOR
count,1.316719e+06,1316719.0,1.316719e+06,1.256102e+06,1.229630e+06,1.211441e+06,1.312650e+06,1.316719e+06,1.316719e+06,1.279487e+06,1.236947e+06,1.199710e+06,1.192803e+06,283318.000000,1.094113e+06,1.316719e+06,1.316719e+06,9.604610e+05,0.0,1.316719e+06,32601.000000,32201.000000,32065.000000,13269.000000,28947.000000,32246.000000,30990.000000,33399.000000,31382.000000,31521.000000,33220.000000,32958.000000,32123.000000,81552.000000,81947.000000,81899.000000,914428.000000,2172.000000,2042.000000,936186.000000,0.0,245640.000000,1.306593e+06,150906.000000,44930.000000,122541.000000,1.316626e+06,2.118990e+05,1.312600e+06,1.196430e+06,1.260522e+06,217315.000000,1.316445e+06,1.316719e+06,32065.000000,1.192803e+06,1.316718e+06,1.316719e+06,1.316719e+06,57495.000000,0.0,5.790300e+04,57903.000000,5.743800e+04,3224.000000,0.0,3.230300e+04,32303.000000,2.980700e+04,0.0,31104.000000,1.316719e+06
mean,1.000209e+00,2.0,1.575647e+07,1.200718e+03,8.240088e+02,3.187296e+05,1.541490e+07,4.607315e+02,1.441864e+00,2.268711e+00,2.505119e+00,3.424957e+00,2.452030e+00,4.275133,7.931371e+05,3.285587e+05,1.715562e+00,3.061979e+06,NaN,3.287172e+05,26.826416,4.054036,3.123905,4.120280,772200.997202,2.390777,1.705776,1.176203,32.261360,3.552203,1.595786,3.110868,1833.094169,7.978492,2.912187,3.757115,1.835955,3.247698,3.325661,2.049923,NaN,326024.901808,1.577745e+07,2.867096,4.190741,2.220791,2.018285e+07,1.578590e+07,1.581593e+07,2.731511e+00,3.197767e+00,4.346879,1.687984e+07,1.657004e+07,7.492593,6.550029e+00,9.797086e-05,9.988213e-01,1.101723e+02,82.776711,NaN,1.551653e+07,8.762068,1.520261e+07,1.388648,NaN,1.586489e+07,3.246633,1.591537e+07,NaN,1.788002,6.583600e+05
std,1.445022e-02,0.0,8.781927e+06,6.750725e+02,7.383403e+01,8.243276e+04,8.708759e+06,5.478010e+01,4.975959e-01,1.427319e+00,1.687645e+00,2.381261e+00,2.752976e+00,1.854432,2.616002e+05,8.751430e+04,1.134994e+00,1.972701e+06,NaN,8.746802e+04,7.674555,1.555455,1.881258,2.319031,286281.631701,9.086826,11.472009,0.817060,12.042044,1.525402,0.961028,0.808046,1104.006608,0.961435,2.375934,2.059455,2.222676,3.022771,2.774599,1.430773,NaN,90562.899455,8.772316e+06,2.485355,3.332813,2.289851,4.754010e+03,8.674214e+06,8.610594e+06,1.558176e+00,4.720399e-02,2.187868,8.708250e+06,8.742652e+06,3.485680,4.419617e+00,9.897542e-03,3.431179e-02,1.559038e+02,86.235975,NaN,8.385393e+06,1.037375,8.733979e+06,0.650073,NaN,8.468849e+06,1.237107,8.422272e+06,NaN,0.408730,3.801042e+05
min,1.000000e+00,2.0,1.012018e+06,0.000000e+00,2.000000e+00,1.100000e+05,1.011897e+06,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000,1.010500e+04,1.100000e+05,1.000000e+00,1.800000e+01,NaN,1.100000e+05,8.000000,1.000000,0.000000,1.000000,10205.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,3.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,100.000000,1.012018e+06,1.000000,1.000000,1.000000,2.017001e+07,1.012018e+06,1.012002e+06,1.000000e+00,2.200000e+00,1.000000,1.022018e+06,1.022018e+06,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,1.012019e+06,1.000000,1.012018e+06,1.000000,NaN,1.012019e+06,1.000000,1.012019e+06,NaN,1.000000,1.000000e+00
25%,1.000000e+00,2.0,8.082018e+06,6.300000e+02,8.260000e+02,2.611500e+05,8.061927e+06,4.540000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,3.000000,6.210050e+05,2.800600e+05,1.000000e+00,2.099454e+06,NaN,2.800300e+05,21.000000,3.000000,2.000000,3.000000,516120.000000,1.000000,0.000000,1.000000,26.000000,2.000000,1.000000,3.000000,800.000000,8.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,NaN,261160.000000,8.082018e+06,1.000000,2.000000,1.000000,2.018002e+07,8.102018e+06,8.082018e+06,1.000000e+00,3.200000e+00,3.000000,1.004202e+07,9.072018e+06,5.000000,2.000000e+00,0.000000e+00,1.000000e+00,1.800000e+01,30.000000,NaN,8.082018e+06,9.000000,8.012019e+06,1.000000,NaN,9.012019e+06,3.000000,9.042019e+06,NaN,2.000000,3.291805e+05
50%,1.000000e+00,2.0,1.602202e+07,1.204000e+03,8.310000e+02,3.150300e+05,1.508194e+07,4.700000e+02,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,4.000000,9.999920e+05,3.304550e+05,1.000000e+00,2.415844e+06,NaN,3.304550e+05,26.000000,4.000000,3.000000,3.000000,999991.000000,1.000000,0.000000,1.000000,32.000000,4.000000,2.000000,3.000000,1632.000000,8.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,NaN,330455.000000,1.603202e+07,3.000000,2.000000,1.000000,2.018003e+07,1.604202e+07,1.603202e+07,2.000000e+00,3.200000e+00,3.000000,1.608202e+07,1.605202e+07,8.000000,9.000000e+00,0.000000e+00,1.000000e+00,3.900000e+01,59.000000,NaN,1.510202e+07,9.000000,1.505202e+07,1.000000,NaN,1.605202e+07,3.000000,1.605202e+07,NaN,2.000000,6.583600e+05
75%,1.000000e+00,2.0,2.309202e+07,1.800000e+03,8.350000e+02,3.550000e+05,2.304195e+07,4.820000e+02,2.000000e+00,4.000000e+00,3.000000e+00,4.000000e+00,3.000000e+00,4.000000,9.999930e+05,3.550300e+05,3.000000e+00,2.816210e+06,NaN,3.550300e+05,32.000000,4.000000,3.000000,6.000000,999992.000000,2.000000,1.000000,1.000000,38.000000,5.000000,2.000000,3.000000,2800.000000,8.000000,2.000000,3.000000,1.000000,2.000000,2.000000,2.000000,NaN,355030.000000,2.310202e+07,3.000000,9.000000,3.000000,2.019000e+07,2.308202e+07,2.308202e+07,4.000000e+00,3.200000e+00,6.000000,2.509202e+07,2.504202e+07,11.000000,1.000000e+01,0.000000e+00,1.000000e+00,1.050000e+02,103.000000,NaN,2.210202e+07,9.000000,2.211202e+07,2.000000,NaN,2.305202e+07,3.000000,2.305202e+07,NaN,2.000000,9.875395e+05
max,2.000000e+00,2.0,3.112202e+07,1.401600e+04,9.990000e+02,5.300100e+05,3.112202e+07,9.990000e+02,2.000000e+00,5.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00,8.000000,9.999950e+05,5.300100e+05,9.000000e+00,9.699848e+06,NaN,5.300100e+05,99.000000,9.000000,9.000000,8.000000,999994.000000,99.000000,99.000000,9.000000,99.000000,9.000000,9.000000,9.000000,6560.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,NaN,530010.000000,3.112202e+07,9.000000,9.000000,9.000000,2.020008e+07,3.112202e+07,3.112202e+07,5.000000e+00,3.200000e+00,9.000000,3.112202e+07,3.112202e+07,12.000000,1.200000e+01,1.000000e+00,1.000000e+00,7.780000e+02,756.000000,NaN,3.112202e+07,9.000000,3.112202e+07,3.000000,NaN,3.112202e+07,9.000000,3.112202e+07,NaN,2.000000,1.316719e+06

In [224]:
data.columns

Index(['ORIGEM', 'TIPOBITO', 'DTOBITO', 'HORAOBITO', 'NATURAL', 'CODMUNNATU',
       'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'ESTCIV', 'ESC', 'ESC2010',
       'SERIESCFAL', 'OCUP', 'CODMUNRES', 'LOCOCOR', 'CODESTAB', 'ESTABDESCR',
       'CODMUNOCOR', 'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE',
       'OCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC',
       'GESTACAO', 'PARTO', 'OBITOPARTO', 'PESO', 'TPMORTEOCO', 'OBITOGRAV',
       'OBITOPUERP', 'ASSISTMED', 'EXAME', 'CIRURGIA', 'NECROPSIA', 'LINHAA',
       'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS', 'CB_PRE',
       'COMUNSVOIM', 'DTATESTADO', 'CIRCOBITO', 'ACIDTRAB', 'FONTE',
       'NUMEROLOTE', 'TPPOS', 'DTINVESTIG', 'CAUSABAS_O', 'DTCADASTRO',
       'ATESTANTE', 'STCODIFICA', 'CODIFICADO', 'VERSAOSIST', 'VERSAOSCB',
       'FONTEINV', 'DTRECEBIM', 'ATESTADO', 'DTRECORIGA', 'CAUSAMAT',
       'ESCMAEAGR1', 'ESCFALAGR1', 'STDOEPIDEM', 'STDONOVA', 'DIFDATA',
       'NUDIASOBCO', 'NUDIASOBIN', 'DTCADINV', 'TPOBITOCOR', 'DTCONINV',
       'FONTES', 'TPRESGINFO', 'TPNIVELINV', 'NUDIASINF', 'DTCADINF',
       'MORTEPARTO', 'DTCONCASO', 'FONTESINF', 'ALTCAUSA', 'CONTADOR'],
      dtype='object')

In [225]:
limit = 500000
df = data[:limit]
# deletando colunas:
# contador, pois j h o index das linhas do dataframe
# CODINST: Cdigo da instalao da gerao dos registros
# NUMERODV: nmero do dgito verificador (??)
# HORAOBITO: hora de bito 
# NUMSUS: nmero da carteira do sus
# CODESTAB: cdigo do estabelecimento
# NUMERODN: nmero da declarao de nascimento
# CRM: cdigo de registro de mdico, no precisaremos predizer
# data do atestado de bito
# nmero do lote
# data do cadastro
# Indica se o mdico que assina atendeu o paciente
# Status de instalao: se codificadora
# se est codificado ou no

## PREPROCESSAMENTO DO DATASET

In [244]:
def ajeitando_idades(df):
    idades = pd.DataFrame(df['IDADE']).astype('int')
#     idades.head()
    idades['ANOS_IDADE'] = pd.Series()
    
    idades.loc[idades['IDADE'] < 400, ['ANOS_IDADE']] = 0
    
    idades.loc[idades['IDADE'] > 400, ['ANOS_IDADE']] = (idades['IDADE'] - 400)
        
#     df.loc[(((df['IDADE'].str.len() == 3) & (df['IDADE'].str[0] != '4') & (df['IDADE'].str[0] != '5')) 
#             | df['IDADE'].str.len() < 3),
#            ['ANOS_IDADE']] = '0'
    
#     df.loc[((df['IDADE'].str.len() == 3) & (df['IDADE'].str[0] == '4') 
#             | (df['IDADE'].str[0] == '5')), 
#            ['ANOS_IDADE']] = str(int(df['IDADE'].str[0]) - 4) + df['IDADE'].str[1:]
    
#     df.loc[((df['IDADE'].str.len() == 3) & (df['IDADE'].str[0] == '4') 
#             | (df['IDADE'].str[0] == '5')), 
#            ['ANOS_IDADE']] = df['IDADE'].str[1:]
    
    df['ANOS_IDADE'] = df['ANOS_IDADE'].astype('int')
    
    return idades['ANOS_IDADE']

In [227]:
def faixa_etaria(df):
    faixas_etarias = np.arange(0, df.IDADE.max()+1, 5, dtype='int')
    df['FAIXA_ETARIA'] = pd.cut(df['IDADE'], faixas_etarias)
#     print(df.head(8))
#     faixas = df.groupby('FAIXA_ETARIA')
#     print(faixas.head())
#     print(df.groupby('FAIXA_ETARIA'))
# #     df['FAIXA_ETARIA'] = df.groupby('FAIXA_ETARIA')
#     return df['FAIXA_ETARIA']

In [228]:
def add_zero(row, name):
    if len(row[name]) < 8:
        row[name] = '0' + row[name]

In [229]:
def clean_date(df, name_column):
    dt_nasc = pd.DataFrame(df[name_column])
    
    dt_nasc[name_column] = dt_nasc[name_column].fillna(0)
    dt_nasc[name_column] = dt_nasc[name_column].astype('int')
    dt_nasc[name_column] = dt_nasc[name_column].astype('str')
    

    dt_nasc.apply(add_zero, name=name_column, axis='columns')
    dt_nasc[name_column] = dt_nasc[name_column].str.slice(0, 8)
    
    
    dt_nasc['ANO'] = dt_nasc[name_column].str[4:]

    dt_nasc['MES'] = dt_nasc[name_column].str.slice(2, 4)

    dt_nasc['DIA'] = dt_nasc[name_column].str.slice(0, 2)
    

    return dt_nasc

In [230]:
def codigos(row):
    if len(row['CODMUNOCOR']) < 7:
#         print('0' + row.DTOBITO[0])
        row['COD'] = row.CODMUNOCOR[:2]

In [231]:
def clean_states(df):
    data_estados = pd.read_csv('../../Downloads/estados_ibge.csv', sep=';', header=0, encoding='latin1')

    cod = pd.Series(data_estados['CODIGO'].astype('str'))
    cod = cod.values

    uf = pd.Series(data_estados['UF'].astype('str'))
    uf = uf.values

    cod_mun = pd.DataFrame(df.CODMUNOCOR.astype('str'))

    cod_mun['CODMUNOCOR'] = cod_mun.CODMUNOCOR.astype('str')
    cod_mun['CODMUNOCOR'].str.slice(0,2)
    cod_mun['COD'] = ""
    cod_mun.apply(codigos, axis='columns')
    cod_mun['ESTADO'] = cod_mun['COD'].replace(cod, uf)

    return cod_mun['ESTADO'], cod_mun['COD']

In [232]:
def separando(row):
    row['LETRA_INICIO'] = row.CATINIC[0]
    row['LETRA_FIM'] = row.CATFIM[0]
    row['NUM_INICIO'] = row.CATINIC[1:]
    row['NUM_FIM'] = row.CATFIM[1:]
#     print(row)

In [233]:
def limpeza(row, col_cids):
    for c in col_cids:
        if row[c].find('*') != -1:
            row[c] = row[c][1:]

In [234]:
def grupo_cate_cid(row, cids):
    cids.loc[((cids.CAUSABAS.str[0] == row.CATINIC[0]) | (cids.CAUSABAS.str[0] == row.CATFIM[0])) 
             & ((cids.CAUSABAS.str[1:] >= row.CATINIC[1:]) & (cids.CAUSABAS.str[1:] <= row.CATFIM[1:])),
             ['CATEGORIA_CAUSA_BASICA', 'CAPITULO_CAUSA_BASICA']] = [row.DESCRABREV, row.NUMCAP]

In [235]:
def agrupamento_cid(row, cids):
    cids.loc[((cids.CAUSABAS.str[0] == row.LETRA_INICIO) | (cids.CAUSABAS.str[0] == row.LETRA_FIM)) 
             & ((cids.CAUSABAS.str[1:] >= row.NUM_INICIO) & (cids.CAUSABAS.str[1:] <= row.NUM_FIM)),
             ['GRUPO_CAUSA_BASICA']] = row.DESCRICAO

In [236]:
def categoria_cid(row, cids):
    cids.loc[((cids.CAUSABAS.str.len() == 3) & (cids.CAUSABAS == row.CAT)),
             ['CAUSA_BASICA']] = row.DESCRABREV

In [237]:
def sub_categoria_cid(row, cids):
    cids.loc[((cids.CAUSABAS.str.len() == 4) & (cids.CAUSABAS == row.SUBCAT)),
            ['CAUSA_BASICA']] = row.DESCRICAO

In [238]:
def nomeando_cids(df):

#     df_cid_grupos = pd.read_csv('../../CID-10-GRUPOS.csv', header=0, sep=';', encoding='latin1')
#     df_cid_grupos.head()

#     df_cid_grupos = df_cid_grupos.drop(columns=['Unnamed: 0'])


#     df_cid_cate = pd.read_csv('../../CID-10-CATEGORIAS.csv', header=0, sep=';', encoding='latin1')

#     df_cid_sub = pd.read_csv('../../Downloads/CID-10-SUBCATEGORIAS.csv', header=0, sep=';', encoding='latin1')
    
    df_cid_cap = pd.read_csv('../../Downloads/CID-10-CAPITULOS.csv', header=0, sep=';', encoding='latin1')

    df_cid_cap['LETRA_INICIO'] = ""
    df_cid_cap['NUM_INICIO'] = ""
    df_cid_cap['LETRA_FIM'] = ""
    df_cid_cap['NUM_FIM'] = ""
    
    col_cids = ['CAUSABAS']

    cids = pd.DataFrame(df[col_cids].astype('str'))

#### RETIRANDO O '*' INCIO
    cids.apply(limpeza, col_cids=col_cids, axis='columns')

#     cids['GRUPO_CAUSA_BASICA'] = ""
#     cids['CAUSA_BASICA'] = ""
    cids['CATEGORIA_CAUSA_BASICA'] = ""
    cids['CAPITULO_CAUSA_BASICA'] = ""
    
    df_cid_cap.apply(separando, axis='columns')
#     print(df_cid_cap.head())
    df_cid_cap.apply(grupo_cate_cid, cids=cids, axis='columns')
#     df_cid_grupos.apply(separando, axis='columns')
#     df_cid_grupos.apply(agrupamento_cid, cids=cids, axis='columns')
#     df_cid_cate.apply(categoria_cid, cids=cids, axis='columns')
#     df_cid_sub.apply(sub_categoria_cid, cids=cids, axis='columns')
    
    return cids['CATEGORIA_CAUSA_BASICA'], cids['CAPITULO_CAUSA_BASICA']

In [239]:
def cod_ocup(row, ocupacoes):
    ocupacoes.loc[(ocupacoes.OCUP.str[:6] == row.CODIGO), ['OCUPACAO']] = row.TITULO

In [240]:
def cod_group_ocup(row, ocupacoes):
    ocupacoes.loc[(ocupacoes.OCUP.str[0] == row.CODIGO), 
                  ['GRUPO_OCUPACAO', 'CODIGO_GRUPO_OCUPACAO']] = [row.TITULO, row.CODIGO]

In [241]:
def ocupacoes(df):
#     df_ocupacoes = pd.read_csv('../../Downloads/CBO2002_Ocupacao.csv', header=0, sep=';', encoding='latin1')
    df_grupo = pd.read_csv('../../Downloads/CBO2002_Grande_Grupo.csv', header=0, sep=';', encoding='latin1')
    
#     df_ocupacoes['CODIGO'] = df_ocupacoes['CODIGO'].astype('str')
    df_grupo['CODIGO'] = df_grupo['CODIGO'].astype('str')
    
    ocupacoes = pd.DataFrame(df['OCUP'].astype('str'))
#     ocupacoes['OCUPACAO'] = "" 
    ocupacoes['GRUPO_OCUPACAO'] = ""
    ocupacoes['CODIGO_GRUPO_OCUPACAO'] = ""
    
#     df_ocupacoes.apply(cod_ocup, ocupacoes=ocupacoes, axis='columns')
    df_grupo.apply(cod_group_ocup, ocupacoes=ocupacoes, axis='columns')
    ocupacoes['GRUPO_OCUPACAO'] = ocupacoes['GRUPO_OCUPACAO'].fillna('SEM OCUPAO') 
    
    return ocupacoes['GRUPO_OCUPACAO'], ocupacoes['CODIGO_GRUPO_OCUPACAO']

In [242]:
def clean_dataset(df):
    df = df.loc[df['CIRCOBITO'].isnull()]
    
    
    df['HORAOBITO'] = df['HORAOBITO'].astype('str')
#### DROP COLUMNS
    df = df.drop(columns=['CONTADOR', 'HORAOBITO', 'CODESTAB', 'DTATESTADO', 'NUMEROLOTE', 'DTCADASTRO', 'ATESTANTE', 
                          'STCODIFICA', 'CODIFICADO']
                )

#### CATEGORIZANDO OS SEXOS

    df['SEXO'] = df['SEXO'].replace(1, "M")
    df['SEXO'] = df['SEXO'].replace(0, "I")
    df['SEXO'] = df['SEXO'].replace(2, "F")

#### CATEGORIZANDO RAAS/COR

    df['RACACOR'] = df['RACACOR'].replace([1, 2, 3, 4, 5], ['BRANCA', 'PRETA', 'AMARELA', 'PARDA', 'INDIGENA'])

#### DATA DE NASCIMENTO

    dt_nasc = clean_date(df, 'DTNASC')


    df['DIA_NASC'] = dt_nasc['DIA']
    df['MES_NASC'] = dt_nasc['MES']
    df['ANO_NASC'] = dt_nasc['ANO']
    
    df['DIA_NASC'] = df['DIA_NASC'].astype('int')
#     df['MES_NASC'] = df['MES_NASC'].astype('int')
#     df['ANO_NASC'] = df['ANO_NASC'].astype('int')

#### DATA DE BITO

    dt_obito = clean_date(df, 'DTOBITO')

    df['DIA_OBITO'] = dt_obito['DIA'].astype('int')
    df['MES_OBITO'] = dt_obito['MES'].astype('int')
    df['ANO_OBITO'] = dt_obito['ANO'].astype('int')



    df = df.drop(columns=['DTOBITO', 'DTNASC', 'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'OCUPMAE', 'PESO', 'ORIGEM', 'CB_PRE', 
                          'SERIESCMAE', 'GRAVIDEZ', 'GESTACAO', 'SEMAGESTAC', 'PARTO', 'OBITOPARTO', 'OBITOGRAV', 'OBITOPUERP',
                          'ESCMAEAGR1', 'ESCFALAGR1', 'FONTES', 'QTDFILVIVO', 'QTDFILMORT', 'VERSAOSIST', 'VERSAOSCB', 
                          'CODMUNRES', 'NUDIASOBCO', 'DTCADINV', 'DTCONINV', 'TPPOS', 'TPRESGINFO', 'TPMORTEOCO', 'NECROPSIA',
                          'COMUNSVOIM', 'DTINVESTIG', 'DTRECEBIM', 'CAUSAMAT', 'MORTEPARTO', 'ALTCAUSA',
                          'DTCONCASO', 'CIRURGIA', 'ACIDTRAB', 'FONTEINV', 'TIPOBITO', 'ESTCIV', 'ESC', 'SERIESCFAL', 
                          'CODMUNNATU', 'TPOBITOCOR', 'TPNIVELINV', 'NATURAL', 'EXAME', 'FONTES', 'DTCADINF', 'NUDIASOBCO', 
                          'STDONOVA', 'STDOEPIDEM', 'DTRECORIGA', 'DIFDATA','ATESTADO',
                          'LINHAA', 'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS_O', 'CIRCOBITO', 'FONTE',
#                           'TP_ALTERA', 'CB_ALT', 'OPOR_DO', 
#                           'CIRCOBITO'
                          'FONTESINF', 'ESTABDESCR', 'NUDIASOBIN', 'NUDIASINF',
                         ]
                )
    
#### AJEITANDO IDADES
    df['IDADE'] = df['IDADE'].fillna(0)
    
#     df['IDADE'] = df['IDADE'].astype('str')

    df['IDADE'] = ajeitando_idades(df)
    
    faixa_etaria(df)
    
    df['IDADE'] = df['IDADE'].astype('int')


#### CATEGORIZANDO OS DADOS

    df['ASSISTMED'] = df['ASSISTMED'].replace([1, 2, 9], 
                                              ['SIM', 'NAO', 'I']
                                             )
    # I: ignorado

#     df['EXAME'] = df['EXAME'].replace([1, 2, 9], 
#                                       ['SIM', 'NAO', 'I']
#                                      )
    # I: ignorado
    

    df['LOCOCOR'] = df['LOCOCOR'].replace([1, 2, 3, 4, 5, 9], 
                                          ['HOSPITAL', 'OES', 'DOMICILIO', 'VIAP', 'OUTROS', 'I']
                                         )
    # OES: outros estabelecimentos de sade
    # I: ignorado
    # VIAP: via pblica

#     df['FONTE'] = df['FONTE'].replace([1, 2, 3, 4, 9], 
#                                       ['BO', 'HOSPITAL', 'FAMILIA', 'OUTRA', 'I']
#                                      )
    # BO: boletim de ocorrncia
    # I: ignorado

    df['ESC2010'] = df['ESC2010'].replace([0, 1, 2, 3, 4, 5, 9], 
                                          ['SEM', 'EF_I', 'EF_II', 'EM', 'SUPERIOR_I', 'SUPERIOR_C', 'I']
                                         )
    # SEM: SEM ESCOLARIDADE
    # EF_I: ensino fundamental I
    # EF_II: ensino fundamental II
    # EM: ensino mdio
    # SUPERIOR_I: superior incompleto
    # SUPERIOR_C: superior completo
    # I: ignorado

#     df['CIRCOBITO'] = df['CIRCOBITO'].replace([1, 2, 3, 4, 9], ['ACIDENTE', 'SUICIDIO', 'HOMICIDIO', 'OUTROS', 'I'])
    # I: ignorado

#### AJEITANDO OS ESTADOS
    df['ESTADO'], df['CODIGO_ESTADO'] = clean_states(df)

#### AJEITANDO CIDs
    df['CATEGORIA_CAUSA_BASICA'], df['CAPITULO_CAUSA_BASICA'] = nomeando_cids(df)
#      = cids['GRUPO_CAUSA_BASICA']
#     df['CAUSA_BASICA'] = cids['CAUSA_BASICA']
#     df['CAUSA_BASICA'].dropna()
    df = df.drop(columns=['CAUSABAS'])
    
#### OCUPACAO DO BITO
#     df['OCUP'] = df['OCUP'].astype('int')
    df['OCUP'] = df['OCUP'].astype('str')
#     ocup = ocupacoes(df)
#     df['OCUPACAO'] = ocup['OCUPACAO']
#     df['GRUPO_OCUPACAO'] = ocup['GRUPO_OCUPACAO']
    df['GRUPO_OCUPACAO'], df['CODIGO_GRUPO_OCUPACAO']  = ocupacoes(df)
    
#     df['OCUPACAO'],
    
#     df.loc[((df['OCUPACAO'].isnull()) & (df['GRUPO_OCUPACAO'].isnull())), ['GRUPO_OCUPACAO']] = 'SEM OCUPAO'
    
#     df.loc[((df['OCUPACAO'].isnull()) & (df['GRUPO_OCUPACAO'] == 'SEM OCUPAO')), ['OCUPACAO']] = 'SEM OCUPAO'
    
#     df.loc[((df['OCUPACAO'].isnull()) & (df['GRUPO_OCUPACAO'] != 'SEM OCUPAO')), ['OCUPACAO']] = 'NO ESPECIFICADO'
    
    df = df.drop(columns=['OCUP'])
    
    return df

In [245]:
df = clean_dataset(df)

<ipython-input-242-16487d895925>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HORAOBITO'] = df['HORAOBITO'].astype('str')
<ipython-input-244-837f965409ee>:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  idades['ANOS_IDADE'] = pd.Series()

KeyError: 'ANOS_IDADE'

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df = df.rename(columns={'assistmed': 'teve_assistencia_medica', 'racacor': 'raca_cor', 'lococor': 'local_ocorrencia',
                   'esc2010': 'escolaridade'})

In [ ]:
df.isnull().sum()

In [ ]:
df = df.drop(columns=['codmunocor'])

In [ ]:
df.to_csv('../../dobrano_2018_pre_preprocessado.csv', header=True, sep=';', encoding='latin1', index=False)

In [ ]:
df.shape